{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true }
  },
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "env": {
        "node": true
      }
    },
    {
      "files": ["**/*.ts?(x)"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["**/test/**/*.test.*"],
      "excludedFiles": "**/test/scenario/**/*",
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
